@charset utf-8;
/*--
	Theme Name: theme1943
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 3.2+ from Template-Help.com Collection
	Author: Template_Help.com 
	Author URL: http://www.Template-Help.com/ 
--*/

/* General
---------------------------------------- */
html,
body {
	min-width:960px;
	}
body{
	background: #201f20 url(images/body.jpg) repeat 50% 0%;
	color: #646464;
	font: 100%/1.125em Arial, Helvetica, sans-serif;
	position:relative;
}

#ic, #ic * {
  border:0;
  float:right;
  background:#fff;
  color:#f00;
  width:50%;
  line-height:10px;
  font-size:10px;
  margin:-220% 0 0 0;
  overflow:hidden;
  padding:0
} 
::selection {background: rgb(255,255,255); color: #000;}
::-moz-selection {background: rgb(255,255,255); color: #000;}
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,255); color: #000;}

#main {
	width: 100%;
	overflow: hidden;
	padding: 35px 0 51px 0;
	font-size: .75em;
}
	

/* List styling */

dl {
	margin: 0;
	padding: 6px 0 0 0;
	line-height: 20px;
	font-size: 12px;
	color: #646464;
}

	dl dt {
		background: url(images/arrow.png) no-repeat 0% 6px;
		margin: 0 0 5px 0;
		padding: 0 0 0 10px;
		line-height: 20px;
		font-family: 'Cantarell', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		color: #d9a658;
	}
	
	dl dd {
		margin: 0 0 25px 0;
		padding: 0 0 0 10px;
		line-height: 20px;
		font-size: 12px;
		color: #646464;
	}


/* Header
---------------------------------------- */

#header {
	background: url(images/bg.gif) repeat-y 50% 0%;
	position: relative;
	height: 159px;
	z-index: 99;
}

/* Logo */

.logo {
	text-align: center;
	position: absolute;
	top: 40px;
	left: 373px;
}
	
	.logo h1,
	.logo h2 {
		margin: 0 0 -6px 0;
		padding: 11px 0 0 0;
		line-height: 1.2em;
		font-size: 36px;
	}
	
		.logo h1 a,
		.logo h2 a {
			text-decoration: none;
			color: #6c6c6c !important;
		}
		
.logo .tagline {
	margin: 0;
	padding: 3px 0 0 0;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #9d9d9d;
}


/* Header widget */
#widget-header {
	position:absolute;
	right:0;
	top:100px;
	z-index:1;
}
	.widget-header {
		
		}

/* Social Networks */
#widget-header .social-networks {
	list-style-type:none;
	padding:0;
	margin:0;
	border:none;
	}
	#widget-header .social-networks li {
		float:left;
		border:none;
		padding:0;
		margin:0 0 0 5px;
		list-style-type:none;
		height:30px;
		}
		#widget-header .social-networks li a {
			text-decoration:none;
			float:left;
			height:30px;
			display:block;
			}
		#widget-header .social-networks li a:hover {
			color:red;
			}

/* EasyTooltip */
.tooltip {
	background: none repeat scroll 0 0 #252525;
	border: 1px solid #000000;
	color: #EEEEEE;
	display: none;
	font-size: 11px;
	line-height:1.2em;
	margin: 13px 0 0;
	padding: 5px;
	z-index:99;
}




/* Request a quote */
#widget_my_requestquotewidget {
	width:100%;
	overflow:hidden;
	}
	
	.top-box {
		background:#eee;
		border:1px solid #dbdbdb;
		padding:20px;
		margin-bottom:20px;
		overflow:hidden;
		zoom:1;
		position:relative;
		min-height:80px;
		}
	.box-button {
		float:right;
		background:#dbdbdb;
		font-size:21px;
		color:#fff;
		text-decoration:none;
		padding:10px;
		position:absolute;
		right:30px;
		top:50%;
		margin-top:-25px;
		}
	.box-text {
		float:left;
		width:75%;
		}



/* Slider
---------------------------------------- */

#slider-wrapper {
	position: relative;
	width: 100%;
	height: 465px;
	overflow: hidden;
}

#slider {
	background: url(images/loading.gif) no-repeat 50% 50%;
	width: 1116px;
	height: 462px;
	margin: 0 0 0 -558px;
	position: absolute;
	top: 0;
	left: 50%;
}

#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}


/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:89;
}
.nivo-caption .nivo-caption-inner {
	padding:0;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
  display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:99;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav {
	background: #f4f4f4;
	width: 1116px;
	height: 56px;
	margin: 0 0 0 -558px;
	border-top: 3px solid #f4f4f4;
	position: absolute;
	left: 50%;
	top: 462px;
	z-index: 99;
	cursor: pointer;
}

.nivo-controlNav:before {
	background: url(images/pagination_arrow.png) no-repeat 50% 0%;
	display: block;
	width: 39px;
	height: 20px;
	overflow: hidden;
	position: absolute;
	top: -23px;
	left: 540px;
	cursor: pointer !important;
	z-index: 99;
	content: '';
}

	.nivo-controlNav a {
		position:relative;
		float: left !important;
		display: block !important;
		width: 139px;
		height: 56px;
		overflow: hidden;
		z-index:98;
		cursor:pointer;
		margin: 0 0 0 1px;
		vertical-align: top;
	}
	
	.nivo-controlNav a:before {
		display: none;
		border: 7px solid #fff;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		content: '';
		z-index: 99;
	}
	
		.nivo-controlNav a:first-child {
			width: 136px;
			overflow: hidden;
			margin: 0;
		}
		
		.nivo-controlNav a img {
			position: relative;
			float: left;
			vertical-align: top;
		}
		
		.nivo-controlNav a:hover:before, .nivo-controlNav a.active:before {
			display: block;
		}

.nivo-controlNav a.active {
	font-weight:bold;
}

.nivo-directionNav {

	}
.nivo-directionNav a {
	position:absolute;
	display:block;
	width:36px;
	height:35px;
	text-indent:-9999px;
	border:0;
	top: 45%;
	background:url(images/direction_nav.png) no-repeat 0 0;
}
a.nivo-nextNav {
	right: 15px;
	background-position:-36px 0;
}
a.nivo-nextNav:hover {
	background-position:-36px -35px;
	}
a.nivo-prevNav {
	left: 15px;
	background-position:0 0;
}
a.nivo-prevNav:hover {
	background-position:0 -35px;
	}

#slider .nivo-controlNav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
	width:120px;
	height:auto;
}









/* Navigations
---------------------------------------- */

/* Primary navigation */

.menu_left {
	position: absolute;
	top: 70px;
	left: 6px;
	z-index: 2;
}

.menu_right {
	position: absolute;
	top: 70px;
	left: 629px;
	z-index: 2;
}

/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	background: #d9a658;
	width: 56px; /* left offset of submenus need to match (see below) */
	margin: 0 0 0 -41px;
	padding: 5px 14px 5px 13px;
	position: absolute;
	top: -999em;
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	top: 39px; /* match top ul list item height */
	left: 50%;
	z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	margin: 0;
	padding: 5px 14px 5px 13px;
	left: 70px; /* match ul width */
	top: -5px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}


/* Our skin for dropdown menu */
.sf-menu {
	float: none;
}

.sf-menu a {
	text-decoration: none;
	color: #13a;
}

.sf-menu li {
	background:	none;
	margin: 0 19px;
}

	.sf-menu li a {
		margin: 0;
		padding: 0;
		line-height: 1.2em;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 18px;
		font-weight: 300;
		text-transform: uppercase;
		color: #3d3d3d;
	}
	
	.sf-menu > li > a:before {
		background: url(images/arrows-ffffff.png) no-repeat 0% 0%;
		display: none;
		width: 7px;
		height: 4px;
		overflow: hidden;
		margin: 0 0 0 -3px;
		position: absolute;
		top: -25px;
		left: 50%;
		content: '';
		pointer-events: none;
	}

.sf-menu li li {
	background: url(images/menu_line.png) repeat-x 0% 0%;
	margin: 0;
}

	.sf-menu li li a {
		background: none;
		margin: 0;
		padding: 9px 0 8px 0;
		line-height: 18px;
		font-family: 'News Cycle', sans-serif;
		font-size: 11px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
	}
	
	.sf-menu li li:first-child {
		background: none;
	}

.sf-menu li li li {
	background: url(images/menu_line.png) repeat-x 0% 0%;
	margin: 0;
}

	.sf-menu li li li a {
		background: none;
		margin: 0;
		padding: 9px 0 8px 0;
		line-height: 18px;
		font-family: 'News Cycle', sans-serif;
		font-size: 11px;
		font-weight: 400;
		text-align: left;
		text-transform: uppercase;
		color: #fff;
	}

.sf-menu li:hover > a:before, .sf-menu li.sfHover > a:before,
.sf-menu li > a:focus:before, .sf-menu li > a:hover:before, .sf-menu li > a:active:before, .sf-menu li.current-menu-item > a:before {
	display: block;
	outline: 0;
}

.sf-menu li li:hover > a, .sf-menu li li.sfHover > a,
.sf-menu li li > a:focus, .sf-menu li li > a:hover, .sf-menu li li > a:active, .sf-menu li li.current-menu-item > a {
	background-position: 0% 0%;
	color: #2f2f2f;
	outline: 0;
}

.sf-menu li li li:hover > a, .sf-menu li li li.sfHover > a,
.sf-menu li li li > a:focus, .sf-menu li li li > a:hover, .sf-menu li li li > a:active, .sf-menu li li li.current-menu-item > a {
	background-position: 0% 0%;
	color: #2f2f2f;
	outline: 0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url(images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}










.extra_area_1 {
	background: url(images/bg_1.gif) repeat-y 50% 0%;
	width: 100%;
	overflow: hidden;
	padding: 39px 0 42px 0;
}

	.extra_area_1 .col_1 {
		float: left;
		width: 220px;
		padding: 0 20px 0 0;
	}
	
	.extra_area_1 .col_2 {
		float: left;
		width: 213px;
		padding: 0 30px 0 15px;
	}
	
	.extra_area_1 .col_3 {
		float: left;
		width: 200px;
		padding: 0 30px 0 20px;
	}
	
	.extra_area_1 .col_4 {
		float: left;
		width: 157px;
		padding: 0 0 0 35px;
	}

.extra_area_2 {
	background: url(images/bg.gif) repeat-y 50% 0%;
}

	.extra_area_2 .inner {
		background: url(images/line_hor.gif) no-repeat 50% 100%;
		width: 100%;
		overflow: hidden;
		padding: 29px 0 45px 0;
	}

.extra_area_3 {
	background: url(images/bg.gif) repeat-y 50% 0%;
	width: 100%;
	overflow: hidden;
	padding: 18px 0 63px 0;
}

	.extra_area_3 b {
		position: relative;
		display: block;
		margin: 0 0 40px 0;
		padding: 0 0 21px 0;
		line-height: 36px;
		font-family: 'Cantarell', sans-serif;
		font-size: 26px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		color: #8c8c8c;
	}
	
		.extra_area_3 b:before {
			background: #e8e8e8;
			width: 977px;
			height: 1px;
			overflow: hidden;
			margin: 0 0 0 -488px;
			position: absolute;
			left: 50%;
			bottom: 0;
			content: '';
		}

.line_ver_1 {
	background: url(images/line_ver.gif) repeat-y 240px 0%;
	width: 100%;
	overflow: hidden;
}

.line_ver_2 {
	background: url(images/line_ver.gif) repeat-y 498px 0%;
	width: 100%;
	overflow: hidden;
}

.line_ver_3 {
	background: url(images/line_ver.gif) repeat-y 748px 0%;
	width: 100%;
	overflow: hidden;
}

/* Content
---------------------------------------- */

.primary_content_wrap {
	background: url(images/bg.gif) repeat-y 50% 0%;
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 60px 0 42px 0;
	z-index: 1;
}

	body.home .primary_content_wrap {
		background: url(images/content_line.gif) repeat-y 50% 0%;
	}

body.home .primary_content_wrap {
	padding: 39px 0 42px 0;
}

	.primary_content_wrap:before {
		background: url(images/content_divider.gif) no-repeat 50% 0%;
		width: 100%;
		height: 4px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		content: '';
	}
	
	.primary_content_wrap:after {
		background: url(images/content_divider.gif) no-repeat 50% 0%;
		width: 100%;
		height: 4px;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		content: '';
	}
	
		body.home .primary_content_wrap:before, body.home .primary_content_wrap:after {
			display: none;
		}
	
		.primary_content_wrap ul {
			margin: 0;
			padding: 0 0 18px 0;
		}
		
			.primary_content_wrap ul li {
				background: url(images/list_line.gif) repeat-x 0% 0%;
				position: relative;
				margin: 0;
				padding: 6px 0 6px 14px;
				list-style: none;
				line-height: 18px;
				font-size: 12px;
				font-weight: bold;
				color: #999;
			}
			
			.primary_content_wrap ul li:first-child {
				background: none;
			}
			
			.primary_content_wrap ul li:before {
				background: url(images/marker.gif) no-repeat 0% 0%;
				display: block;
				width: 3px;
				height: 5px;
				overflow: hidden;
				position: absolute;
				top: 12px;
				left: 0;
				content: '';
			}
			
				.primary_content_wrap ul li a {
					text-decoration: none;
					color: #999;
				}
				
					.primary_content_wrap ul li a:hover {
						color: #d9a658;
					}
					
				.primary_content_wrap ul li ul {
					background: url(images/list_line.gif) repeat-x 0% 0%;
					margin: 6px 0 -6px 0;
					padding: 6px 0 0 0;
				}
	
#content {
	float: left;
}

	#content.left {
		float: right !important;
	}




/* Comments
---------------------------------------- */

h3#comments {
	padding-top:10px;
}

ol.commentlist {
 list-style-type:none;
 padding:0 0 20px 0;
 margin:0;
 }
 ol.commentlist li.comment {
  list-style-type:none;
  overflow:hidden;
  padding: 9px 0 0 0;
  margin: 0;
  background:none;
  text-transform:none;
  line-height: 20px;
  font-size: 12px;
  font-weight: normal;
  color: #8c8c8c;
 }
 
 ol.commentlist li:before {
	 display: none;
	}
	
	ol.commentlist li ul {
		background: none;
		padding: 0;
	}
 
   li.comment .comment-body {
	   background: #eeeeee;
    padding:23px 30px 20px 102px;
    position:relative;
    zoom:1;
		border:1px solid #eeeeee;
    }
    li.comment .comment-body p {
     min-height: 65px;
    }
  .comment-author {
   position:absolute;
   left:20px;
   top:25px;
   }
   .comment-author .author {
    text-transform:capitalize;
    width:65px;
    display: block;
    font-size:12px;
    padding-top: 6px;
   }
   
	.comment-text {
		
	}
	
	/* Comment meta */
	
	.comment-meta {
		float: right;
		line-height: 24px;
		font-size: 11px;
		font-weight: normal;
		color: #8c8c8c;
	} 
	
		.comment-meta a {
			color: #8c8c8c;
		}
	
	 /* Avatar */
   li.comment .avatar {
    float:none;
    margin:0;
    vertical-align:top;
    overflow:hidden;
		border:1px solid #eee;
    }
    li.comment .avatar {
     display:block;
     vertical-align:top;
     overflow:hidden;
     }

    .commentlist ul.children {
     margin:0 0 0 20px;
     overflow:hidden;
     }
     .commentlist ul.children li.comment {

      }


.reply {
	float: right;
	margin-left: 28px;
}

	.reply a {
		background: #d9a658 !important;
		display: inline-block;
		height: 24px;
		overflow: hidden;
		padding: 0 18px;
		vertical-align: top;
		line-height: 24px;
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 11px;
		font-weight: normal;
		text-decoration: none !important;
		color: #fff !important;
	}

		.reply a:hover {
			background: #5d5d5d !important;
		}


.allowed_tags {
  background:#eee;
  padding:15px;
  font-size:11px;
  font-family:"Courier New", Courier, monospace;
  color:#666;
  }
  .allowed_tags strong {
   font-family:Tahoma, Geneva, sans-serif;
   }
  #respond {
   padding-top:28px;
   margin-top:20px;
  }

.cancel-comment-reply {
	width: 100%;
	overflow: hidden;
	padding: 0 0 18px 0;
}

	.cancel-comment-reply a {
		text-decoration: underline !important;
		color: #d9a658 !important;
	}
	
		.cancel-comment-reply a:hover {
			text-decoration: none !important;
		}
  
	.cancel-comment-reply small {
		font-size: 11px;
	}
  
  .cancel-comment-reply a:hover {
   text-decoration:none;
  }







.post-holder {
	position: relative;
	overflow: hidden;
	margin: 0 0 52px 0;
}

/* Post header */
.post-holder .entry-title {
	font-size:1.6em;
	margin-bottom:.2em;
	}
.single-post .post-holder {
	overflow: visible;
	}

.addthis_toolbox.addthis_default_style > a {
	float: none !important;
	display: inline-block !important;
	vertical-align: top !important;
	margin: 3px 0 !important;
	padding: 0 !important;
}
.addthis_toolbox.addthis_default_style .addthis_button_facebook_like {
	width: 100px;
}
.addthis_toolbox.addthis_default_style .addthis_button_pinterest_pinit {
	width:70px;
}

/* Featured thumbnail */

.featured-thumbnail {
	float: left;
	position: relative;
	margin: 5px 20px 10px 0;
}

	.featured-thumbnail img {
		float:left;
		}
	
	/* Small thumbnail */
	.featured-thumbnail.small img {
		padding:4px;
		}
	
	/* Large thumbnail */
	.featured-thumbnail.large {
		margin-right:0;
		overflow:hidden;
		margin-bottom:22px;
		}
	.featured-thumbnail.large img {
		max-width:100%;
		height:auto;
		}


		.pagination a {
			display:inline-block;
			padding:0 5px;
			background:#eee;
			}

/* Post footer */
.post-holder .post-footer {
	clear:both;
	padding:15px 0 0 0;
	}
.post-holder.single-post .post-footer {
	margin-top:20px;
	}
		

	
p.gravatar {
	float:left;
	margin-right:20px;
	}


/* Post edit link */
.post-edit-link {
	
	}
.post-edit-link:hover {
	
	}


/* Image styling */

.alignleft {
	float:left;
	margin: 5px 18px 10px 0;
}

.alignright {
	float:right;
	margin: 5px 0 10px 18px;
	}
.aligncenter {
	text-align:center;
	margin:0 auto;
	}
.alignnone {
	margin:0 0 10px 0;
	}
article .post-content img {
	max-width:710px;
	}

.frame {
	padding:7px;
	background:#fff;
	border:1px solid #dbdbdb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	}
.frame img.alignleft,
.frame img.alignright{
	margin:0;
	padding:0;
	border:none;
	}

	
/* Related Posts */

ul.related-posts {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0 0 40px 0;
}

	ul.related-posts li {
		list-style-type:none;
		padding:0;
		margin:0 0 14px 14px;
		float: left;
		background: none;
		width: 140px;
	}
	
	ul.related-posts li:first-child {
		margin-left:0;
		}
		ul.related-posts li .featured-thumbnail {
			float:none;
			margin:0 0 10px 0;
			overflow:hidden;
			}



/* Page Navigaton */

.pagenavi {
	position: relative;
	padding: 20px 0;
	clear: both;
}
 
	.pagenavi span, .pagenavi a {
		background: none;
		display: inline-block;
		width: auto;
		margin: 0 1px;
		padding: 3px;
		font-family: 'Cantarell', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
		color: #8c8c8c;
	}
	 
	.pagenavi a:hover, .pagenavi .current {
		color: #d9a658;
	}
	
	.pagenavi span.pages {
		display: none;
	}
	
	.pagenavi .next, .pagenavi .last {
		margin: 0 0 0 17px;
	}
	
	.pagenavi .prev, .pagenavi .first {
		margin: 0 17px 0 0;
	}


/* Older and newer navigation */
nav.oldernewer {
	width:100%;
	overflow:hidden;
	margin-bottom:1.5em;
}
	.older {
		float:left;
	}
	.newer {
		float:right;
	}

.single-oldernewer {
	font-size:11px;
	border-top:1px solid #afafaf;
	border-bottom:1px solid #afafaf;
	padding:.5em 0;
	margin:1em 0 0 0;
	}	

	
/* Gallery post format */
.gallery_post {
	list-style-type:none;
	padding:0;
	margin:0 0 1em 0;
	width:100%;
	overflow:hidden;
	}
	.gallery_post .g_item {
		overflow:hidden;
		display:none;
		}
	.gallery_post .g_item:first-child {
		display:block;
		}
		.gallery_post .g_item .featured-thumbnail {
			float:none;
			margin:0;
			}
			.gallery_post .g_item .featured-thumbnail img {
				float:none;
				}

.g_pagination {
	text-align:left;
	overflow:hidden;
	}
	.g_pagination ul {
		list-style-type:none;
		margin:0;
		padding:.5em 0;
		overflow:hidden;
		}
		.g_pagination ul li {
			background: none;
			padding:0 5px 0 0;
			display:inline;
			margin:0;
			}
			.g_pagination ul li:before {
				display: none;
			}
			.g_pagination ul li a {
				display:inline-block;
				text-decoration:none;
				width:10px;
				height:10px;
				background:#000;
				font-size:0;
				line-height:0;
				border-radius:5px;
				vertical-align:top;
				}
			.g_pagination li.activeSlide a,
			.g_pagination li a:hover {
				background:#999;
				}
.g_controls {
	float:right;
	}
	.g_controls a {
		display:inline-block;
		background:#000;
		color:#fff;
		vertical-align:top;
		font-size:11px;
		text-decoration:none;
		border-radius:4px;
		font-family:"Times New Roman", Times, serif;
		}
		.g_controls a span {
			display:inline-block;
			padding:2px 6px 4px 6px;
			}
	.g_controls a:hover {
		background:#999;
		}

/* Author
---------------------------------------- */
#post-author {
	overflow:hidden;
	border:1px solid #dbdbdb;
	padding:20px;
	margin-bottom:2em;
	}
#author-link {
	margin-top:1.5em;
	}
	#post-author .gravatar {
		margin:0 20px 0 0;
		}
	#post-author .gravatar img {
		background:#fff;
		border:1px solid #dbdbdb;
		padding:5px;
		}
#author-description {
	
	}

/* Recent author posts */
#recent-author-posts {
	margin-bottom:3em;
}

/* Recent author comments */
#recent-author-comments {
	
}

.author-info {
	width:100%;
	overflow:hidden;
	margin-bottom:3em;
	padding-bottom:2em;
}
	.author-info .avatar {
		margin:0 20px 0 0;
		}
		.author-info .avatar img {
			float:left;
			background:#fff;
			padding:7px;
			border:1px solid #dbdbdb;
			}

.author-meta {
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
	}
	.author-meta p.gravatar {
		margin:0;
		}




/* 404
---------------------------------------- */

#error404 {
	padding: 30px 0 100px 0;
	text-align: center;
}

	#error404 h1 {
		margin: 0;
		line-height: 1.2em;
		font-size: 30px;
	}
	
	#error404 h6 {
		margin: 0 0 2px 0;
	}
	
	#error404 #searchform {
		margin: 0 auto;
	}

.error404-num {
	font-size: 250px;
	line-height: 1.2em;
	color: #f04a00;
}
	





/* Portfolio
---------------------------------------- */
.latestwork {
	width:100%;
	overflow:hidden;
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.latestwork li {
		float:left;
		margin-right:20px;
		}


/* Gallery */

.header-title {
	margin: 0 0 29px 0;
}

	.header-title h1 {
		margin: 0;
	}
	
	.header-title .page-desc {
		font-size: .91em;
		color: #999;
	}



/* Default layout 3 columns */
#gallery {
	
	}
	#gallery .portfolio {
		width:100%;
		overflow:hidden;
		list-style-type:none;
		padding:0;
		margin:0;
		}
		#gallery .portfolio li {
			list-style-type:none;
			display:-moz-inline-box;
			display:inline-block;
			zoom:1;
			vertical-align:top; 
			width:298px;
			margin:0 16px 50px 0;
			position:relative;
			background:none;
			padding:0;
			line-height: 20px;
			font-size: 12px;
			font-weight: normal;
			color: #8c8c8c;
			}
		* + html #gallery .portfolio li {
			display:inline;
			}
		#gallery .portfolio li.nomargin {
			margin-right:0 !important;
			}
			#gallery .portfolio li span.image-border {
				display:block;
				height:175px;
				width:298px;
				position:relative;
				}
			#gallery .portfolio li span.image-border:before {
				-webkit-box-shadow: 0 15px 10px rgba(0,0,0, .5);
				-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
				box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
				-webkit-transform: rotate(-4deg);
				-moz-transform: rotate(-4deg);
				-o-transform: rotate(-4deg);
				position: absolute;
				left: 10px;
				bottom: 15px;
				z-index: -1;
				width: 50%;
				height: 20%;
				content: "";
			}
			#gallery .portfolio li span.image-border:after {
				-webkit-box-shadow: 0 15px 10px rgba(0,0,0, .5);
				-moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
				box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
				-webkit-transform: rotate(4deg);
				-moz-transform: rotate(4deg);
				-o-transform: rotate(4deg);
				position: absolute;
				right: 10px;
				bottom: 15px;
				z-index: -1;
				width: 50%;
				height: 20%;
				content: "";
			}
			#gallery .portfolio li a.image-wrap {
				display:block;
				overflow:hidden;
				width:298px;
				height:175px;
				position:relative;
				background:#f5f5f5 url(images/loading-folio.gif) 50% 50% no-repeat;
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				}
			#gallery .portfolio li a.image-wrap:hover {
				
				}
				#gallery .portfolio li a.image-wrap img {
					float:left;
					}
			
			#gallery .portfolio .folio-desc {
				margin-bottom:0;
				padding:1.5em 0 0 0;
				}
			#gallery .portfolio p.excerpt {
				padding:0;
				}
			
			.zoom-icon {
				display:block;
				position:absolute;
				left:0;
				top:0;
				right:0;
				bottom:0;
				cursor:pointer;
				border: 6px solid #333;
				background:rgba(0, 0, 0, .4);
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				opacity:0;
			}
			
			.no-rgba .zoom-icon {
				background:url(images/black-opacity-60.png);
				visibility:hidden;
				}
			.zoom-icon:before {
				content:"";
				display:block;
				position:absolute;
				left:50%;
				top:50%;
				width:42px;
				height:61px;
				margin:-30px 0 0 -21px;
				background:url(images/magnify-alt.png) 50% 50% no-repeat;
				}
			.image-wrap:hover .zoom-icon {
				opacity:1;
				}
			.no-rgba .image-wrap:hover .zoom-icon {
				visibility:visible;
				}


/* 1 column portfolio*/
#gallery.one_column .portfolio li {
	width:100%;
	margin-right:0;
	margin-left:0;
	}
	#gallery.one_column .portfolio li span.image-border {
		width:602px;
		height:255px;
		float:left;
		}
		
	#gallery.one_column .portfolio li a.image-wrap {
		width: 602px;
		height: 255px;
	}
	
		#gallery.one_column .folio-desc {
			float: left;
			margin: 0 0 0 18px;
			overflow: hidden;
			width: 315px;
		}

/* 2 columns portfolio*/
#gallery.two_columns .portfolio li {
	width:459px;
	margin-right:16px;
	}
	#gallery.two_columns .portfolio li span.image-border {
		width:459px;
		height:225px;
		}
	#gallery.two_columns .portfolio li a.image-wrap {
		width:459px;
		height:225px;
		}

/* 4 columns portfolio*/
#gallery.four_columns .portfolio li {
	width:220px;
	margin-right:16px;
	}
	#gallery.four_columns .portfolio li span.image-border {
		width:220px;
		height:165px;
		}
	#gallery.four_columns .portfolio li a.image-wrap {
		width:220px;
		height:165px;
		}


		
/* Single Portfolio Page
---------------------------------------- */		
.entry-meta {
	
	}
	
/* Info */
ul.portfolio-meta-list {
	border:none;
	margin:0 0 2em 0;
	border-top:1px solid #afafaf;
	border-bottom:1px solid #afafaf;
	padding:1em 0;
	}
	ul.portfolio-meta-list li {
		list-style-type:none;
		padding:0;
		margin:.5em 0 0 0;
		border:none;
		background:none;
		text-transform:none;
		}
		
		ul.portfolio-meta-list li:before {
			display: none;
		}
		
	ul.portfolio-meta-list li:first-child {
		margin-top:0;
		}
		ul.portfolio-meta-list li strong {
			display:inline;
			padding-right:.3em;
			}

/* Single Image */
.image-holder {
	position:relative;
	}
	.image-holder img {
		max-width:100%;
		}

/* Single Video */
.video-holder {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin:0 0 2% 0;
}
.video-holder iframe,  
.video-holder object,  
.video-holder embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}

/* Audio Single */
.single-audio-holder .audiojs {
	width:614px;
	}
.single-audio-holder .audiojs .scrubber {
	width:434px;
	}
.single-audio-holder object{overflow:hidden;}	
	
/* Grid Gallery */
.grid_gallery {
	position:relative;
	overflow:hidden;
	padding:0 0 0 0;
	}
	.grid_gallery_inner {
		width:640px;
		position:relative;
		overflow:hidden;
		}
	.grid_gallery .gallery_item {
		float:left;
		margin:0 15px 15px 0;
		}
		
.single-gallery-item {
	margin:0;
	}
		
		

/* Sidebar
---------------------------------------- */

#sidebar {
	float: left;
}
	
	#sidebar .widget {
		margin: 0 0 45px 0;
	}
	
	#sidebar ul {
		padding: 0;
	}
	
	#sidebar ul.social-networks {
		float: none;
		width: 100%;
		overflow: hidden;
	}
	
		#sidebar ul.social-networks li {
			background: none;
			margin: 0 4px 0 0;
		}
		
			#sidebar ul.social-networks li:before {
				display: none;
			}
	

/* Calendar */
#calendar_wrap {
	padding:0;
	}
	#wp-calendar {
		width:100%;
		}
		#wp-calendar caption {
			text-align:center;
			}
		#wp-calendar td {
			text-align:center;
			padding:6px 0;
			border:none;
			}
		#wp-calendar caption {
			font-size:16px;
			color:#fff;
			font-weight:bold;
			padding:4px 0;
			margin-bottom:5px;
			}
		#wp-calendar thead th {
			padding:7px 0;
			font-size:14px;
			background:#fff;
			color:#000;
			text-align:center;
			}
		#wp-calendar #prev {
			text-align:left;
			}
		#wp-calendar #next {
			text-align:right;
			}



/* FAQs
---------------------------------------- */
.faq_list {
	
	}
	.faq_list dt {
		color:#666;
		position:relative;
		padding:0 0 5px 28px;
		font-size:15px;
		font-weight:normal;
		margin:0;
		background:none;
		}
	.faq_list span.marker {
		display:block;
		position:absolute;
		left:0;
		top:0;
		font-size:15px;
		color:#333;
		font-weight:bold;
		}
	.faq_list dd {
		padding:0 0 0 28px;
		position:relative;
		margin:0 0 2em 0;
		color:#b2b2b2;
		}
		.faq_list dd .marker {
			top:3px;
			}



/* Custom widgets
---------------------------------------- */


/* Recent Comments */
ul.recentcomments {
	padding:0;
	margin:0;
	}
	ul.recentcomments li {
		border-top:1px solid #c6c6c6;
		padding:25px 0 25px 0;
		margin:0;
		border-bottom:none;
		background:none;
		overflow:hidden;
		list-style-type:none;
		}
	ul.recentcomments li:first-child {
		padding-top:0;
		border-top:none;
		}
		ul.recentcomments li img {
			float:left;
			margin:0 12px 0 0;
			}
		ul.recentcomments .comment-body {
			padding:15px 0 0 0;
			}
			ul.recentcomments .comment-body a {
				text-decoration:none;
				color:#96999d;
				}
			ul.recentcomments .comment-body a:hover {
				color:#000;
				text-decoration:underline;
				}
		ul.recentcomments li h4 {
			margin-bottom:.1em;
			}
			ul.recentcomments li h4 a {
				text-decoration:none;
				}
			ul.recentcomments li h4 a:hover {
				color:#000;
				}
		ul.recentcomments li small {
			font-size:11px;
			color:#6a6a6a;
			}



			
/* Carousel widget */
.es-carousel-wrapper{
	background: #101010;
	padding:10px 37px;
	margin:0 0 20px 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
	background:#000;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	list-style-type:none;
	padding:0;
	margin:0;
	color:#fff;
}
.es-carousel ul li .thumbnail{
	display:block;
	border-style:solid;
	border-color:#222;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:12px;
	background:transparent url(images/nav.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-carousel ul li h4 {
	margin-bottom:.5em;
	}
.es-carousel ul li .excerpt {
	margin-bottom:10px;
	}
.es-nav span.es-nav-next{
	right:12px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}						
			

/* Post Cycle */
.post_cycle {
	padding:0;
	margin:0;
	}
.post_cycle .cycle_item {
	display:none;
	}
.post_cycle .cycle_item:first {
	display:block;
	}


/* Folio Cycle */
.folio_cycle {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	}
	.folio_cycle .folio_item {
		overflow:hidden;
		display:none;
		}
	.folio_cycle .folio_item:first {
		display:block;
		}
		.folio_cycle .folio_item .featured-thumbnail {
			float:none;
			margin:0 0 15px 0;
			}
			.folio_cycle .folio_item .featured-thumbnail img {
				float:none;
				}
		.folio_cycle .folio_item .excerpt {
			padding-left:1px;
		}		
#folio-controls {
	text-align:center;
	overflow:hidden;
	}
	#folio-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#folio-controls ul li {
			padding:0 5px 0 0;
			margin:0;
			display:inline;
			}
			#folio-controls ul li a {
				display:inline-block;
				text-decoration:none;
				width:9px;
				height:9px;
				background:#000;
				font-size:0;
				line-height:0;
				border-radius:5px;
				}
			#folio-controls ul li a:hover {
				background:#999;
				}


/* Testimonials */
.testimonials {
  padding: 0;
  margin: 0;
}
.testimonials div.testi_item {
  padding: 0;
  margin: 0 0 2em 0;
  background: none;
	overflow:hidden;
}
.testimonials div.testi_item blockquote {
  display: block;
  position: relative;
  margin: 0;
  padding: 30px;
  background: #dbdbdb;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
	}
.testimonials div.testi_item blockquote:before {
  content: "";
  display: block;
  position: absolute;
  left: 65px;
  bottom: -20px;
	width:0;
	height:0;
	border-left: 20px solid transparent;
	border-right: 0 solid transparent;
	border-top: 20px solid #dbdbdb;
}
.testimonials div.testi_item blockquote:after {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  top: 10px;
  width: 41px;
  height: 38px;
  background: url(images/quotes.png) 0 0 no-repeat;
}
.testimonials div.testi_item blockquote a {
  text-decoration: none;
  color: #4e4e4e;
  display: block;
  font-style: normal;
  position: relative;
}
.testimonials div.testi_item blockquote a:hover {
  color: #ffffff;
}
.testimonials div.testi_item .featured-thumbnail {
	position:relative;
	z-index:2;
	margin:0 20px 0 10px;
	}
.name-testi {
  padding: 12px 0 0 0;
  text-align: right;
  display: block;
}
.name-testi a {
  font-weight: normal;
}
.testimonials .thumb {
  float: left;
  margin-right: 20px;
}

/* Misc for Cycle widgets */
#testi-cycle .testi_item {
	display:none;
	}
#testi-cycle .testi_item:first {
	display:block;
	}
#testi-controls {
	text-align:center;
	overflow:hidden;
	}
	#testi-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#testi-controls ul li {
			padding:0;
			margin:0 2px 0 0;
			display:inline-block;
			}
		* + html #testi-controls ul li {
			display:inline;
			zoom:1;
			}


/* Twitter widget */
.twitter {
	position:relative;
}
.twitter_update_list {
	overflow:hidden;
	}
.twitter ul li {
	list-style-type:none;
	margin:0 0 15px 0;
	padding:0 0 0 37px;
	background:url(images/twitter-icon.png) no-repeat 0 0;
	}
	.twitter ul li .twitt-body {
		padding:0 0 5px 0;
		}
	.twitter ul li .twitt-body a {
		font-weight:bold;
		}
	.twitter ul li a.timesince {
		font-size:11px;
		}
.twitter .profileLink {
	
	}
.twitter  .preloader {
	position:absolute;
	top:40px;
	left:0;
	height: 25px;
	line-height:25px;
	padding-left: 30px;
	background-position:0 50%;
	background-repeat:no-repeat;
	background-image:url(images/loading-twitter.gif);
}



/* Flickr widget */

.flickrImages {
	position: relative;
	overflow: hidden;
	padding: 11px 0 2px 0;
}

.flickrImages a {
	float:left;
	display:block;
	width:100px;
	height:84px;
	background:#000;
	margin:0 20px 22px 0;
	position: relative;
	overflow: hidden;
	}
	
	.flickrImages a:hover {
		width:100px;
		height:84px;
	}
	
.flickrImages a img {
	position: relative;
	width:100px;
	height: auto;
	z-index: 1;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.flickrImages a:hover img {
	opacity:.5;
}
.flickrImages a.link {
	display:inline;
	float:none;
	width:auto;
	height:auto;
	margin:0;
	background:none;
	}

/* Banner widget */
.banners-holder {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.banners-holder li {
		list-style-type:none;
		float:left;
		margin:0 3px 3px 0;
		padding:0;
		}
		.banners-holder li img {
			vertical-align:top;
			float:left;
			}

			
			
/* vCard widget */			
.vcard {
	
	}
			


/* Testimonials
---------------------------------------- */

/* Testimonials list */
article.testimonial {
	border:1px solid #eee;
	padding:30px 30px 30px 235px;
	width:auto;
	background:url(images/quotes.png) no-repeat 170px 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-size:14px;
	line-height:1.5em;
	font-weight:normal;
	margin-bottom:35px;
	}
	article.testimonial .featured-thumbnail {
		position:absolute;
		left:20px;
		top:20px;
		}
	article.testimonial .name-testi {
		display:block;
		text-align:right;
		font-style:normal;
		color:#222c36;
		font-size:13px;
		font-family:Arial, Helvetica, sans-serif;
		line-height:1.2em;
		}
		article.testimonial .name-testi a {
			text-decoration:none;
			}
		article.testimonial .name-testi a:hover {
			text-decoration:underline;
			}





/* Shortcodes
---------------------------------------- */

/* Images Format Type */
.recent-posts .format-image {
	float:left;
	margin:0 20px 20px 0;
	}	

/* Quote Format Type */
.recent-posts .format-quote {
	
	}

/* Link Format Type */
.recent-posts .format-link {
	
	}

/* Link Format Type */
.recent-posts .format-link {
	
	}	

/* Audio Format Type */
.recent-posts .format-audio {
	margin-bottom:2em;
	}
	.recent-posts .format-audio .audio-wrapper {
		margin-bottom:.5em;
		}

/* Video Format Type */
.recent-posts .format-video {
	float:left;
	width:300px;
	margin:0 20px 20px 0;
	}
.recent-posts .format-video iframe {
	width:300px;
	height:200px;
	}	

/* Popular Posts */
.popular_posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular_posts li {
		list-style-type:none;
		padding:0 0 20px 0;
		margin:0;
		overflow:hidden;
		}



/* Tags */
.tags-cloud a,
.tagcloud a,
.post-footer a {
	display:inline-block;
	background:#d9a658;
	padding:2px 7px;
	border-radius:3px;
	text-decoration:none;
	color:#fff;
	margin:0 1px 4px 0;
	font-size:11px !important;
	box-shadow:1px 1px 0 rgba(0, 0, 0, .2);
	line-height:1.5em;
	vertical-align:top;
	}
.tags-cloud a:hover,
.tagcloud a:hover,
.post-footer a:hover {
	background:#a7a7a7;
	}


/* Recent Comments */
.recent-comments {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.recent-comments li {
		padding:0;
		margin:0;
		border:none;
		padding-bottom:.5em;
		}






































#searchform {
	width: 220px;
	height: 31px;
	overflow: hidden;
}

	#searchform input[type="text"] {
		float: left;
		width: 158px;
	}
	
	#searchform input[type="submit"] {
		float: left;
		width: 40px;
		margin: 3px 0 0 10px;
		padding: 0;
	}

#header #searchform {
	position: absolute;
	top: -33px;
	right: 50px;
}

.box_1 {
	width: 100%;
	overflow: hidden;
	padding: 7px 0 7px 0;
	text-align: center;
}

	.box_1 strong {
		display: block;
		margin: 0 0 3px 0;
		line-height: 1.2em;
		font-family: 'Cantarell', sans-serif;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
	}
	
	.box_1 .text {
		margin: 0 0 15px 0;
		line-height: 20px;
		font-size: 14px;
		color: #fff;
	}

.box_2 {
	width: 100%;
	overflow: hidden;
	padding: 0 0 20px 0;
	text-align: center;
}

	.box_2 strong {
		display: block;
		margin: 0 0 21px 0;
		line-height: 1.2em;
		font-family: 'Cantarell', sans-serif;
		font-size: 26px;
		font-weight: 700;
		text-transform: uppercase;
		color: #8c8c8c;
	}
	
		.box_2 strong span {
			font-weight: 400;
		}
		
	.box_2 p {
		margin: 0;
		line-height: 21px;
		font-family: 'Cantarell', sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		color: #8c8c8c;
	}

a.link {
	line-height: 1.2em;
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

	a.link:hover {
		color: #5a5a5a;
	}

a.reference {
	background: #d9a658 !important;
	display: inline-block;
	height: 24px;
	overflow: hidden;
	padding: 0 18px;
	vertical-align: top;
	line-height: 24px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none !important;
	color: #fff !important;
}

	a.reference:hover {
		background: #a7a7a7 !important;
	}

a.button {
	background: #d9a658 !important;
	display: inline-block;
	height: 24px;
	overflow: hidden;
	padding: 0 18px;
	vertical-align: top;
	line-height: 24px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	text-decoration: none !important;
	color: #fff !important;
}

	a.button:hover {
		background: #a7a7a7 !important;
	}

ul.post_list {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

	ul.post_list li {
		float: left;
		width: 430px;
		margin: 0 0 0 50px;
		padding: 0;
		list-style: none;
		line-height: 20px;
		font-size: 12px;
		color: #8c8c8c;
	}
	
	ul.post_list li:first-child {
		margin: 0;
	}
	
		ul.post_list li h4 {
			padding: 1px 30px 0 0;
		}
		
		ul.post_list li .post_content {
			margin: 0 0 22px 0;
		}

ul.latestpost {
	width: 100%;
	overflow: hidden;
	margin: 0 0 -2px 0;
	padding: 11px 0 0 0;
}

	ul.latestpost li {
		background: url(images/line.gif) repeat-x 0% 0%;
		width: 100%;
		overflow: hidden;
		margin: 0 0 15px 0;
		padding: 16px 0 0 0;
		vertical-align: top;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		color: #8c8c8c;
	}
	
	ul.latestpost li:first-child {
		padding: 0;
	}
	
		ul.latestpost li strong {
			display: block;
			font-weight: normal;
			color: #8c8c8c;
		}
		
			ul.latestpost li strong a {
				text-decoration: none;
				color: #8c8c8c;
			}
			
				ul.latestpost li strong a:hover {
					color: #d9a658;
				}
ul.news {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 6px 0 10px 0 !important;
}

	ul.news li {
		background: url(images/line_1.gif) repeat-x 0% 0%;
		margin: 0 0 15px 0;
		padding: 22px 0 0 0;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		color: #8c8c8c;
	}
	
	ul.news li:first-child {
		padding: 0;
	}
	
	ul.news li:before {
		display: none;
	}
	
		ul.news li a {
			color: #646464;
		}
	
		ul.news li time {
			display: block;
			line-height: 20px;
			font-size: 12px;
			color: #8c8c8c;
		}

ul.team {
	width: 100%;
	overflow: hidden;
	padding: 11px 0 0 0;
}

	ul.team li {
		background: none;
		float: left;
		width: 145px;
		margin: 0 0 0 20px;
		padding: 0;
	}
	
	ul.team li:first-child {
		margin: 0;
	}
	
		ul.team li .featured-thumbnail {
			width: 100%;
			overflow: hidden;
			margin: 0;
		}
		
			ul.team li .featured-thumbnail img {
				float: left;
				margin: 0 0 27px 0;
			}
	
		ul.team li h5 {
			line-height: 20px;
			font-family: Arial, Helvetica, sans-serif !important;
			font-size: 12px;
			font-weight: normal;
			text-transform: none;
			color: #c1c1c1;
		}

ul.list {
	margin: 0;
	padding: 0;
}

	ul.list li {
		margin: 0 0 18px 0;
		padding: 19px 0 0 0;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		color: #8c8c8c;
	}
	
	ul.list li:before {
		display: none;
		padding: 0;
	}
	
		ul.list li strong {
			display: block;
			line-height: 20px;
			font-size: 12px;
			color: #8c8c8c;
		}

.archive-lists ul {
	float: left;
}

figure.image {
	float: left;
}

	figure.image img {
		float: left;
		margin: 0 24px 0 0;
	}

figure.thumbnail {
	float: left;
}

	figure.thumbnail img {
		float: left;
		margin: 13px 33px 13px 13px;
	}

header.entry-header {
	width: 100%;
	overflow: hidden;
	margin: 0 0 5px 0;
}

	header.entry-header .entry-title {
		line-height: 18px;
		font-size: 14px;
		color: #d9a658 !important;
	}
	
		header.entry-header .entry-title a {
			color: #d9a658 !important;
		}
		
			header.entry-header .entry-title a:hover {
				color: #8c8c8c !important;
			}

	header.entry-header b {
		background: url(images/comment_icon.png) no-repeat 0% 0%;
		float: right;
		min-height: 27px;
		margin: 7px 0 0 0;
		padding: 14px 0 0 30px;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		color: #8c8c8c;
	}
	
		header.entry-header b a {
			text-decoration: none;
			color: #8c8c8c;
		}
		
			header.entry-header b a:hover {
				color: #d9a658;
			}

.post-meta {
	line-height: 20px;
	font-size: 12px;
	color: #8c8c8c;
}

	.post-meta a {
		text-decoration: none;
		color: #8c8c8c;
	}
	
		.post-meta a:hover {
			color: #d9a658;
		}

.post-content {
	
}
	.post-content .excerpt {
		margin: 0 0 27px 0;
	}









































































/* Footer
---------------------------------------- */

#footer {
	background: url(images/bg.gif) repeat-y 50% 0%;
	width: 100%;
	min-height: 60px;
	padding: 38px 0 35px 0;
}

.footer_area_1 {
	float: right;
	width: 172px;
	margin: 0 -5px 0 0;
	padding: 5px 0 0 30px;
}

.footer_area_2 {
	background: url(images/footer_line.gif) repeat-y 0% 0%;
	position: relative;
	float: right;
	width: 226px;
	min-height: 44px;
	margin: 0 0 0 44px;
	padding: 8px 44px 8px 95px;
	line-height: 20px;
	font-size: 14px;
	color: #888;
}

	.footer_area_2:before {
		background: url(images/icon_home.png) no-repeat 0% 0%;
		display: block;
		width: 20px;
		height: 16px;
		overflow: hidden;
		position: absolute;
		top: 9px;
		left: 66px;
		content: '';
	}

ul.social-networks {
	float: right;
	margin: 0;
	padding: 0;
}

	ul.social-networks li {
		float: left;
		margin: 0 0 0 4px;
		padding: 0;
		list-style: none;
	}
	
		ul.social-networks li a {
			float: left;
		}

ul.info {
	width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

	ul.info li {
		background: none;
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		vertical-align: top;
		line-height: 20px;
		font-size: 12px;
		font-weight: normal;
		color: #646464;
	}
	
	ul.info li:before {
		display: none;
	}
	
		ul.info li em {
			float: right;
			padding: 0 15% 0 0;
			font-style: normal;
		}

nav.footer {
	width: 100%;
	overflow: hidden;
	padding: 30px 0 0 0;
	text-align: center;
}

	nav.footer ul {
		margin: 0;
		padding: 0;
	}
	
		nav.footer ul li {
			display:-moz-inline-box; 
			display:inline-block; 
			*zoom:1; 
			*display:inline;
			vertical-align:top;
			margin: 0;
			padding: 0 8px;
			list-style: none;
			line-height: 20px;
			font-size: 14px;
			text-transform: uppercase;
			color: #888;
		}
		
			nav.footer ul li a {
				text-decoration: none;
				color: #888;
			}
			
				nav.footer ul li a:hover, nav.footer ul li.current-menu-item a {
					color: #d9a658;
				}

#footer-text {
	float: left;
	padding: 9px 0 0 0;
	line-height: 18px;
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #8c8c8c;
}

	#footer-text b {
		margin: 0 0 0 3px;
		font-weight: normal;
	}

	#footer-text i {
		margin: 0 2px 0 2px;
		font-style: normal;
		color: #d9a658;
	}
	
	#footer-text a {
		text-decoration: none;
		color: #8c8c8c;
	}
	
		#footer-text a:hover {
			color: #d9a658;
		}
		
	#footer-text p {
		margin: 0;
		padding: 6px 0 0 2px;
		line-height: 20px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12px;
		text-transform: none;
		color: #8c8c8c;
	}
	
		#footer-text p a {
			text-decoration: underline;
			color: #d9a658;
		}
		
			#footer-text p a:hover {
				text-decoration: none;
			}
	


/* Lightbox */
.lightbox {
	display:block;
	position:relative;
	}

/* Back to Top */
#back-top-wrapper {
  width:100%;
  position:absolute;
  overflow:hidden;
  height:23px;
}
#back-top {
	margin: 0;
	position: fixed;
	bottom: 110px;
	left:50%;
	margin-left:585px;
	display:none;
}

#back-top a {
	width: 23px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 23px;
	height: 23px;
	display: block;
	background: url(images/up-arrow.png) no-repeat 0% 0%;
}

#back-top a:hover span {
	background-position: 0% -23px;
}

/* Tabs */
.tabs {
    margin: 1px 0 20px 0;
}

.tabs .tab-wrapper {
    border: 1px solid #dddddd;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    margin: -1px 0 0 0;
}

.tabs .tab-menu ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.tabs .tab-menu li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

.tabs .tab-menu a {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #aaaaaa;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 2px 0 0;
    padding: 8px 20px;
}

.tabs .tab-menu a:hover {
    background-color: #f2f2f2;
    color: #666666;
}

.tabs .tab-menu a.active {
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#fafafa');
    background: -moz-linear-gradient(bottom , #fafafa 0px, #f6f6f6 90%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #fafafa),color-stop(90%, #f6f6f6));
    border-bottom: none;
    color: #666666;
    padding: 8px 20px 9px 20px;
}

.tabs .tab {
	background-color: #fafafa;
	border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    padding: 20px;
}





/* Toggle */
.toggle {
    padding: 0 0 2px 0;
}
.toggle .trigger {
	background-color: #f5f5f5;
	background: -moz-linear-gradient(bottom, #F2F2F2 0px, #ffffff 100%);
	background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #f2f2f2),color-stop(1, #ffffff));
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #666666;
	display: block;
	padding: 10px 12px 10px 40px;
	position: relative;
	text-decoration:none;
	height:1%;
	}

.toggle .trigger span {
	background: url(includes/images/toggle.png) 0 0 no-repeat;
	display: block;
	position: absolute;
	top: 9px;
	left: 10px;
	text-indent: -9999px;
	width: 22px;
	height: 20px;
	}

.toggle .trigger:hover,
.toggle .active {
	background:#191919;
	color:#fff;
	}
.toggle .active span {
	background-position: 0 -20px;
	}

.toggle .box {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
	}



/* Dropcap */
.dropcap {
	display: block;
  float: left;
  margin: 0 22px 20px 0;
  text-transform: uppercase;
  width: 51px;
  height: 51px;
  background: #666;
	border-radius:6px;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  text-transform: lowercase;
	}

.widget-area {
	
}

.hr {
	height:1px;
	background:#eee;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:30px 5px;
	}
.grid_1 .hr, .grid_2 .hr, .grid_3 .hr, .grid_4 .hr, .grid_5 .hr, .grid_6 .hr, .grid_7 .hr, .grid_8 .hr, .grid_9 .hr, .grid_10 .hr, .grid_11 .hr, .grid_12 .hr, .grid_13 .hr, .grid_14 .hr, .grid_15 .hr, .grid_16 .hr, .grid_17 .hr, .grid_18 .hr, .grid_19 .hr, .grid_20 .hr, .grid_21 .hr, .grid_22 .hr, .grid_23 .hr, .grid_24 .hr {
	margin-left:0;
	margin-right:0;
	}
.sm_hr {
  height: 1px;
  background: #eee;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  margin: 25px 10px;
}
.grid_1 .sm_hr,
.grid_2 .sm_hr,
.grid_3 .sm_hr,
.grid_4 .sm_hr,
.grid_5 .sm_hr,
.grid_6 .sm_hr,
.grid_7 .sm_hr,
.grid_8 .sm_hr,
.grid_9 .sm_hr,
.grid_10 .sm_hr,
.grid_11 .sm_hr,
.grid_12 .sm_hr {
  margin-left: 0;
  margin-right: 0;
}
.spacer {
	height:31px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	}

/* Address */
.address {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0;
	}
.address dt {
	float:left;
	width:165px;
	margin-right:20px;
	padding:0 0 0 55px;
	background:none;
	font-size:1em;
	line-height:18px;
	background:url(images/address-icon1.png) no-repeat 0 3px;
	}
.address dd {
	float:left;
	width:217px;
	padding:0 0 0 53px;
	background:url(images/address-icon2.png) no-repeat 0 3px;
	}
	.address dd ul {
		list-style-type:none;
		padding:0;
		margin:0;
		}
		.address dd ul li {
			background:none;
			padding:0;
			}
	.address dd span {
		float:left;
		width:100px;
		}
		.address dd a {
			font-style:italic;
			color:#191919;
			text-decoration:underline;
			}
		.address dd a:hover {
			text-decoration:none;
			}

			
/* Google Map */
.google-map {
	margin-bottom:20px;
	background-repeat:no-repeat;
	background-position:50% 50%;
	background-image:url(images/loading-map.gif);
	}




/* VIDEO */
.video-wrap {
	margin-bottom: 10px;
	position:relative;
	zoom:1;
	}
	.video-wrap object {
		position:relative;
		z-index:2;
		}
	.video-bg {
		background-color:black;
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		}

/* AUDIO */
.audio-wrapper {
   margin-bottom:1.5em;
}
.audio-desc {
	font-size:.91em;
	color:#999;
	padding:.5em 0 0 0;
	}
.audiojs audio { position: absolute; left: -1px; }
.audiojs { width: 460px; height: 36px; background: #404040; overflow: hidden; font-family: monospace; font-size: 12px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
	background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
.audiojs .play-pause { width: 25px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #000; }
.audiojs p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
.audiojs .play { display: block; }
.audiojs .scrubber { position: relative; float: left; width: 280px; background: #5a5a5a; height: 14px; margin: 10px; border-top: 1px solid #3f3f3f; border-left: 0px; border-bottom: 0px; overflow: hidden; }
.audiojs .progress { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #ccc; z-index: 1;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
	background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
.audiojs .loaded { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
	background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
.audiojs .time { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #000; color: #ddd; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); } 
.audiojs .time em { padding: 0px 2px 0px 0px; color: #f9f9f9; font-style: normal; }
.audiojs .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
.audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
	text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

.audiojs .play { background: url(js/audiojs/player-graphics.gif) -2px -1px no-repeat; }
.audiojs .loading { background: url(js/audiojs/player-graphics.gif) -2px -31px no-repeat; }
.audiojs .error { background: url(js/audiojs/player-graphics.gif) -2px -61px no-repeat; }
.audiojs .pause { background: url(js/audiojs/player-graphics.gif) -2px -91px no-repeat; }

.playing .play, .playing .loading, .playing .error { display: none; }
.playing .pause { display: block; }

.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }



/* Alert boxes
---------------------------------------- */
.alert-box, .wpcf7-response-output {
	padding:20px 20px 20px 90px !important;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:.91em;
	line-height:1.4em;
	border:1px solid #dbdbdb;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:15px;
	}
	.error-box, .wpcf7-mail-sent-ng {
		border-color:#ff9999;
		color:#c31b00;
		background:url(images/icons/alert/icon-error.png) no-repeat 20px 50% #ffcccc;
		}
	.attention-box, .wpcf7-validation-errors, .wpcf7-spam-blocked {
		border-color:#e6c555;
		color:#9e660d;
		background:url(images/icons/alert/icon-note.png) no-repeat 20px 50% #fdebae;
		}
	.notice-box {
		border-color:#68a2cf;
		color:#2e6093;
		background:url(images/icons/alert/icon-info.png) no-repeat 20px 50% #bfe4f9;
		}
	.approved-box, .wpcf7-mail-sent-ok {
		border-color:#a3c159;
		color:#5e6f33;
		background:url(images/icons/alert/icon-download.png) no-repeat 20px 50% #ccff99;
		}
	


/* Forms
---------------------------------------- */

/* Form defaults */

input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	border:1px solid #dbdbdb;
	outline:none;
}

input[type="text"], textarea {
	background: #f5f5f5;
	min-height: 19px;
	margin: 0;
	padding: 5px;
	border: 1px solid #ebebeb;
	vertical-align: top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #646464;
	resize: none;
}

input[type="submit"], input[type="reset"] {
  background-color: #d9a658;
	display: inline-block;
	position: relative;
	height: 24px;
	margin: 0 4px 0 0;
	padding: 0 17px;
	border: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: 400;
	text-transform: capitalize;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

	input[type="submit"]:hover, input[type="reset"]:hover {
		background: #a7a7a7;
	}


/* Comment form */

#commentform {
	width: 100%;
	overflow: hidden;
	padding: 0 0 30px 0;
}

	#commentform p {
		width: 100%;
		overflow: hidden;
		margin: 0 0 9px 0;
		vertical-align: top;
	}
	
	#commentform label {
		float: left;
		width: 61px;
		padding: 0 7px 0 0;
		text-align: right;
		line-height: 32px;
	}
	
	#commentform input[type="text"] {
		width: 50%;
	}
	
	#commentform input[type="submit"] {
		margin: 0 0 0 68px;
	}
	
	#commentform textarea {
		width: 80%;
		height: 120px;
		overflow: auto;
		margin: 0 0 14px 0;
	}




/* Contact form */

.wpcf7-form p {
	margin: 0 0 9px 0;
	overflow: hidden;
	vertical-align: top;
	position: relative;
}

.wpcf7-form input[type="text"] {
	width: 208px;
}

	.wpcf7-form p.field small {
		color:red;
		}
.wpcf7-form .input-file {
	width: 79px;
	height: 22px;
	background: url(images/btn-choose-file.gif) 0 0 no-repeat;
	display: block;
	overflow: hidden;
	cursor: pointer;
	position:relative;
	}
.wpcf7-form input[type="file"] {
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	cursor: pointer;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	}

.wpcf7-form textarea {
	width: 208px;
	height: 208px;
	overflow: auto;
	margin-bottom: 14px;
}

.wpcf7-form .submit-wrap {
	padding:0;
	margin:0;
	}
	span.wpcf7-form-control-wrap {
		display:block;
		}
	.wpcf7-not-valid-tip {
		width: 208px !important;
		height: 19px;
		position:absolute;
		left:0 !important;
		top:0 !important;
		padding: 5px !important;
		background:#f3b7b7 !important;
		color:red !important;
		border:1px solid red !important;
		}
	div.wpcf7-response-output {
		margin-left:0 !important;
		margin-right:0 !important;
		}








/* Fluid Columns */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:79.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{ position:relative; margin-right:4%; float:left; }
.last { margin-right:0 !important; clear:right; }


.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.extra-wrap {
	overflow:hidden;
	}


/* Clear Floated Elements */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Always remember to compress your live stylesheet and keep an uncompressed backup */