.date {
	padding-left: 5px;
	width: 30%;
    float: left;	
}

.date-recap {
	padding-left: 5px;
	width: 50%;
    float: left;	
}

#search_form {
	display: block;
	clear: both;
	
}

#search_form_recap .remove-group-button
{
    padding: 10px 10px;	
    background: #F00;
    	
}

.content {
	float: right;
}

.sidebar-primary {
	
	float: left;
	width: 300px;
	padding-top: 10px;
	
}

.room
{
    clear: both;    
}

.room select
{
    display: inline;
    width: 20%;	
	
}

#add_more_groups
{	
	display:block;
	margin: 5px auto 0;
	width: 60%;
	
}

input.remove-group-button
{
    margin: 2px;	
    background: #F00;
    	
}

.search-button
{
	
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	width: 200px;
	
}

.submit input
{
    text-align: center; 
    vertical-align: middle; 
    padding: 5px;
	
}



