@CHARSET "ISO-8859-1";

#guest_details_form small, 
#guest_details_form .small {
    color: #666666;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
}

#guest_details_form input[type="text"] {
    display: inline-block;
    margin: 0 0 12px 10px;
    padding: 5px 4px;
    width: 50%;
}

#guest_details_form label {
    display: inline-block;
    float: left !important;
    font-weight: bold;
    line-height: 1em;
    text-align: right;
    width: 35%;
}

#guest_details_form select {
    margin: 0 0 12px 10px;
    padding: 3px 3px 3px 2px;
    width: 52%;
}

#guest_details_form h2 {
    border-bottom: 1px solid #eaeaea;
    color: #666666;
    font-size: 11px;
    font-weight: normal;
    margin: 0 10px 20px;
    padding-bottom: 10px;
}

#guest_details_form {
	font-size: 12px;
    line-height: 1em;
}

.date {
	padding-left: 5px;
	width: 30%;
    float: left;	
}

.totals-row
{
	border: none;
}

.totals-row td
{
	border: none;	
} 
 
td.totals-row-sum-field
{
	border: 1px solid #e5e5e5;
}
