@CHARSET "ISO-8859-1";

@media screen and (max-width: 600px) 
{
    main table {width:100%; border: 0 }
    
    main thead {display: none;}
    
    main tr:nth-of-type(2n) {background-color: inherit;}
    
    main tr.room-first-row td:first-child {background: #f0f0f0; font-weight:bold;font-size:1.3em;}
  
    main tbody td:before 
    { 
        display: inline;
        float:left;
         
    }
    
    main table tr 
    {
        margin-bottom: 10px;
        display: block;
        border: 3px solid #ccc;
        border-bottom: 3px solid #ccc;
    }
    
    main table td
    {
        border-bottom: 1px dotted #ccc;
        display: block;  
        text-align: right;
    }
    
    main table td:last-child 
    {
        border-bottom: 0;
    }
    
  
    main tr:not(.totals-row) td:nth-of-type(1):before { content: "Room"; }
    main tr:not(.totals-row) td:nth-of-type(2):before { content: "Max. persons"; }
	main tr:not(.totals-row) td:nth-of-type(3):before { content: "Room price for one day"; }
	main tr:not(.totals-row) td:nth-of-type(4):before { content: "Room price for whole stay"; }
	main tr:not(.totals-row) td:nth-of-type(5):before { content: "Boarding type"; }
	main tr:not(.totals-row) td:nth-of-type(6):before { content: "Quantity"; }
	main tr:not(.totals-row) td:nth-of-type(7):before { content: "Subtotal"; }
	
	
	main tr:not(:first-child):not(.room-first-row):not(.totals-row) td:nth-of-type(1):before { content: "Max. persons"; }
	main tr:not(:first-child):not(.room-first-row):not(.totals-row) td:nth-of-type(2):before { content: "Room price for one day"; }
	main tr:not(:first-child):not(.room-first-row):not(.totals-row) td:nth-of-type(3):before { content: "Room price for whole stay"; }
	main tr:not(:first-child):not(.room-first-row):not(.totals-row) td:nth-of-type(4):before { content: "Boarding type"; }
	main tr:not(:first-child):not(.room-first-row):not(.totals-row) td:nth-of-type(5):before { content: "Quantity"; }
	main tr:not(:first-child):not(.room-first-row):not(.totals-row) td:nth-of-type(6):before { content: "Subtotal"; }
	
    .submit-in-table
    {
       visibility: hidden;
       display: none;
    }	
    
    	
    .submit-below-table
    {
       visibility: visible;
       
    }	
   
    	
}

@media screen and (min-width: 601px)
{
    .submit-in-table
    {
       visibility: visible;
    }	
    	
    .submit-below-table
    {
       visibility: hidden;
       display: none;
    }	
    
    
    	
}