.content
{
	float: right;
}


.sidebar-primary {
	
	float: left;	
	padding-top: 10px;
	max-width: 305px;
	width: 305px;
}

.hotel
{
	height: 150px;
    clear: both;		
	
}

.hotel_image
{
	float: left;		
	
}

.hotel_accommodation_info
{
	float: left;	
}

/* Search accommodation form styling */

#search_form
{
    background-color: gray; 
    padding: 5px;
    
   
}

#search_form_inner .remove-group-button
{
    padding: 10px 10px;	
    background: #F00;
    	
}

.date-recap {
	padding-left: 5px;
	width: 50%;
    float: left;	
}

.margined
{
    margin: 3px;
	
}

.form-control.adults-number-field
{
    width:60px;
    display: inline;	
}

.form-control.children-number-field
{
    width:60px;
    display: inline;	
}


