@CHARSET "ISO-8859-1";

.container
{
    background-color: gray; 
    padding-top: 30px;
    padding-bottom: 20px;
    max-width: 660px;
   
}

.content
{	
	float: left;
    max-width: 660px;    
}

.margined
{
    margin: 5px;
	
}

.adults-number-field, .children-number-field
{
	margin-top: 5px;
	margin-bottom: 5px;
	width:60px;
	display: inline;
}

.add-more-groups-button
{
    float: left;	
    	
}

#search_form_inner .remove-group-button
{
    padding: 10px 10px;	
    background: #F00;
    	
}

.date-recap {
	padding-left: 5px;
	width: 50%;
    float: left;	
}

.search-button
{
	clear: both;
	float: left;
	
	margin-top: 10px;
	
	padding-bottom: 10px;	
}

.room
{
    clear: both;	
	
}

