/*
 Theme Name:   Omega Child
 Theme URI:    http://despot82.webatu.com
 Description:  Omega child theme
 Author:       Vladimir Despotovic
 Author URI:   http://despot82.webatu.com
 Template:     omega
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  omega-child
*/

nav
{
	display: none;
}

.content {
	
	/* width: 600px; */
}

/* Primary Sidebar */

.sidebar-primary {
	float: left;
	width: 300px;
	padding-top: 10px;
}